<!-- wp:template-part {"slug":"header","theme":"blockbase","area":"header"} /-->

<!-- wp:group {"tagName":"main","className":"individual-post"} -->
<main class="wp-block-group individual-post">
  <!-- wp:group {"className":"page-container"} -->
  <div class="wp-block-group page-container">
    <!-- wp:group {"className":"hero-content container mb-5"} -->
    <div class="wp-block-group hero-content container mb-5">
      <!-- wp:group -->
      <div class="wp-block-group">
        <!-- wp:post-featured-image /-->
        <!-- wp:post-title /-->
        <!-- wp:post-excerpt /-->
        <!-- wp:group {"className":"post-meta-container"} -->
        <div class="wp-block-group post-meta-container">
          <!-- wp:group -->
          <div class="wp-block-group">
            <!-- wp:post-author {"showBio":false,"isLink":true} /-->
          </div>
          <!-- /wp:group -->
          <!-- wp:post-date /-->
        </div>
        <!-- /wp:group -->
      </div>
      <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
    <!-- wp:group {"className":"content-container container mb-5"} -->
    <div class="wp-block-group content-container container mb-5">
      <!-- wp:post-content /-->
    </div>
    <!-- /wp:group -->
    <!-- wp:group {"className":"comment-container container mb-5"} -->
    <div class="wp-block-group comment-container container mb-5">
      <!-- wp:comments -->
      <div class="wp-block-comments">
        <!-- wp:post-comments-form /-->
        <!-- wp:comments-title {"showPostTitle":false} /-->
        <!-- wp:comment-template -->
        <!-- wp:group {"className":"comment-container-inner"} -->
        <div class="wp-block-group comment-container-inner">
          <!-- wp:group {"className":"post-meta-container"} -->
          <div class="wp-block-group post-meta-container">
            <!-- wp:group {"className": "wp-block-post-author"} -->
            <div class="wp-block-group wp-block-post-author">
              <!-- wp:avatar /-->
              <!-- wp:comment-author-name /-->
            </div>
            <!-- /wp:group -->
            <!-- wp:comment-date {"isLink":false} /-->
          </div>
          <!-- /wp:group -->
          <!-- wp:group {"className":"comment-content-container"} -->
          <div class="wp-block-group comment-content-container">
            <!-- wp:comment-content /-->
            <!-- wp:group {"className":"actions-container"} -->
            <div class="wp-block-group actions-container">
              <!-- wp:comment-reply-link /-->
              <!-- wp:comment-edit-link /-->
            </div>
            <!-- /wp:group -->
          </div>
          <!-- /wp:group -->
        </div>
        <!-- /wp:group -->
        <!-- /wp:comment-template -->

        <!-- wp:comments-pagination -->
        <!-- wp:comments-pagination-previous /-->

        <!-- wp:comments-pagination-numbers /-->

        <!-- wp:comments-pagination-next /-->
        <!-- /wp:comments-pagination -->
      </div>
      <!-- /wp:comments -->
    </div>
  <!-- /wp:group -->
  </div>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"blockbase","tagName":"footer","className":"site-footer-container"} /-->