.home-page {



  @media (min-width: 992px) {
    
    .landing-top {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .hero-container {
        margin: 0 3rem;
        width: 50%;
        padding: 32px min(7.77778%, 112px) 32px calc(50% - 568px)
      }

      .video-container {
        display: flex;
        justify-content: center;
        align-items: center;
    
        height: 100%;
        width: 50%;

        .wp-block-embed__wrapper {
          position: relative;

          iframe {
            position: absolute;
            height: 100%;
            width: 100%;
            left: max(-17.5%, -112px);
          }
        }
      }
    }
  
  
    .linc-button-container {
      padding: 40px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;

      .towson-button {
        margin-right: 8px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .posts-section {
      position: relative;
      height: 100%;

      .yellow-swatch {
        width: 100vw;
        margin-left: calc(50% - 50vw);
        max-width: 99vw;
        top: 25%;
        height: 25%;
        position: absolute;
        background-color: #f4b810;
      }
    }
  }
  
  @media (max-width: 991px) {
    .hero-container {
      padding: 32px;
      width: 100%;
    }
  
    .video-container {
      position: relative;
      width: 100%;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden;

      iframe {
        padding: 16px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    .linc-button-container {
      .towson-button {
        width: 100%;
        margin-bottom: 8px;
      }
    }
  }
}
