@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.remove-layout-flow {
  margin-block-end: unset !important;
  margin-block-start: unset !important;
}

// Components
@import "./blocks";
@import "./header";
@import "./footer";
@import "./resiliency-roadmap";

// Pages 
@import "./home";
@import "./not-found";
@import "./single-post";
@import "./blog";
@import "./about";
@import "./resources";

body {
  .wp-site-blocks {
    padding: unset;

    main {
      margin-top: 67px;
    }
  }
}
