@mixin button-hover($color, $include-hover: true) {
  border-color: $color;
  
  @if $include-hover {
    &:hover {
      background-color: darken(white, 20%);
      border-color: darken($color, 20%);
    }
  }
}

.resiliency-roadmap-container {
  position: relative;
  background-color: #efb154;
  height: inherit;
  margin: 10px;

  &.is-fullscreen {
    height: calc(100dvh - 20px);
    width: calc(100dvw - 20px);
    max-width: unset;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    margin: 10px;
  }

  .popover {
    // border: none;
    // background-color: transparent;

    // .popover-body {
    //   padding: 0;
    // }

    .flip-card {
      background-color: transparent;
      width: 300px;
      height: 300px;
      perspective: 1000px;
    }

    .flip-card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.6s;
      transform-style: preserve-3d;
    }

    .flip-card:hover .flip-card-inner {
      transform: rotateY(180deg);
    }

    .flip-card-front, .flip-card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }

    .flip-card-front {
      background-color: #bbb;
      color: black;
    }

    .flip-card-back {
      background-color: #2980b9;
      color: white;
      transform: rotateY(180deg);
    }
  }


  .resiliency-roadmap {
    width: 1350px;
    height: 900px;
    backface-visibility: hidden;
    // will-change: transform;

    .row {
      display: flex;

      .tile {
        @extend .remove-layout-flow;
        position: relative;
        width: 150px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        // border: 1px solid black;

        .road {
          margin: -1px;
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: -1;

          &.curve {
            background-image: url("data:image/svg+xml, %3Csvg viewBox='0 0 300 300' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M 0,190 A 110,110 0 0 1 110,300 L 190,300 A 190,190 0 0 0 0,110 L 0,190 Z' fill='%23303030'/%3E%3Cpath d='M 12,150 A 150,150 0 0 1 150,288' fill='none' stroke='%23fff' stroke-width='4' stroke-dasharray='23.5 23.5'/%3E%3C/svg%3E");
          }

          &.straight {
            background-image: url("data:image/svg+xml, %3Csvg viewBox='0 0 300 300' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0' y='110' width='300' height='80' fill='%23303030'/%3E%3Cline x1='12' y1='150' x2='288' y2='150' stroke='%23fff' stroke-width='4' stroke-dasharray='23 27'/%3E%3C/svg%3E");      
          }

          &.cap {
            transform: rotate(180deg);
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 300 300'%3E%3Cpath d='M 0 110 A 40 40 0 0 1 0 190' stroke='none' fill='%23303030'/%3E%3C/svg%3E");
          }

          &.rotate-90 {
            transform: rotate(90deg);
          }

          &.rotate-180 {
            transform: rotate(180deg);
          }

          &.rotate-270 {
            transform: rotate(270deg);
          }
        }

        .colored-button {
          @extend .remove-layout-flow;
          background-color: white;
          color: black;
          width: 75px;
          height: 75px;
          border: 6px solid;
          border-radius: 50%;
          font-size: 3rem;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: bold;

          &:hover {
            background-color: darken(white, 20%);
          }


          &.red { @include button-hover(#ff1616); }
          &.pink { @include button-hover(#ff66c4); }
          &.light-purple { @include button-hover(#cb6ce6); }
          &.purple { @include button-hover(#8c52ff); }
          &.teal { @include button-hover(#03989e); }
          &.blue { @include button-hover(#004aad); }
          &.lime-green { @include button-hover(#7ed957); }
          &.yellow { @include button-hover(#d6b841); }
          &.orange { @include button-hover(#ff914d); }
          &.green { @include button-hover(#008037); }
        }

        .start-end {
          margin: 0;
          font-size: 1.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: bold;
          padding: 10px;
        }

        .stop-text {
          border: 6px solid;
          margin: 0;
          font-size: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: bold;
          padding: 10px;
          background-color: white;

          &.red { @include button-hover(#ff1616, false); }
          &.pink { @include button-hover(#ff66c4, false); }
          &.light-purple { @include button-hover(#cb6ce6, false); }
          &.purple { @include button-hover(#8c52ff, false); }
          &.teal { @include button-hover(#03989e, false); }
          &.blue { @include button-hover(#004aad, false); }
          &.lime-green { @include button-hover(#7ed957, false); }
          &.yellow { @include button-hover(#d6b841, false); }
          &.orange { @include button-hover(#ff914d, false); }
          &.green { @include button-hover(#008037, false); }
        }
      }
    }
  }

  .roadmap-controls {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;

    button {
      background-color: white;
      border: 1px solid #f4b810;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        color: white;
        background-color: black;
      }
    }
  }
}
