.individual-post {
  padding-top: 1.19em;
  display: flex;
  justify-content: center;

  .page-container {
    max-width: 960px;

    .hero-content {  
      .wp-block-post-title {
        @extend .display-3;
      }
  
      .wp-block-post-excerpt__excerpt {
        @extend .lead;
      }
    }
  
    .comment-container {
      @extend .towson-link;

      form {
        display: flex;
        flex-direction: column;

        .form-submit {
          @extend .towson-button;
          @extend .towson-button, .primary;
          margin-top: 16px;

          input {
            @extend .w-100;
          }
        }
      }

      .comment-container-inner {
        padding: 16px 0;

        .comment-content-container {
          .actions-container {
            display: flex;
            align-items: center;
  
            .wp-block-comment-reply-link, .wp-block-comment-edit-link {
              all: unset;
              margin: 0;
            }
  
            :first-child {
              margin-right: 16px;
            }
          }
        }
      }

      .wp-block-comment-template {
        ol {
          border-left: 3px solid rgb(242, 242, 242);
        }

        .comment-respond {
          margin-top: 32px;
        }
      }
    }
  }
}