.individual-post {
  padding-top: 1.19em;
  display: flex;
  justify-content: center;

  .page-container {
    max-width: 960px;

    .meta-container {
      display: flex;
      align-items: center;

      .wp-block-post-author {
        display: flex;
        align-items: center;
        margin-right: 16px;
        
        .wp-block-post-author__avatar, .wp-block-avatar {
          margin-right: 16px;

          img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
          }

        }

        .wp-block-post-author__name, .wp-block-comment-author-name {
          margin: 0;
          
          a {
            transition: all 0.3s ease;
            color: #f4b810;
            text-decoration: underline;
      
            &:hover {
              opacity: 0.9;
              text-decoration: none;
            }
          }
        }
      }

      .wp-block-post-date, .wp-block-comment-date {
        margin: 0;
      }
    }

    .hero-content {  
      .wp-block-post-title {
        @extend .display-3;
      }
  
      .wp-block-post-excerpt__excerpt {
        @extend .lead;
      }
    }
  
    .content-container {
      // TODO: Maybe we want to add special styles here?
    }
  
    .comment-container {
      form {
        display: flex;
        flex-direction: column;

        .form-submit {
          @extend .towson-button;
          @extend .towson-button, .primary;
          margin-top: 16px;

          input {
            @extend .w-100;
          }
        }
      }

      .comment-container-inner {
        padding: 16px 0;

        .comment-content-container {
          .actions-container {
            display: flex;
            align-items: center;
  
            .wp-block-comment-reply-link, .wp-block-comment-edit-link {
              all: unset;
              margin: 0;
            }
  
            :first-child {
              margin-right: 16px;
            }
          }
        }
      }

      .wp-block-comment-template {
        ol {
          border-left: 3px solid rgb(242, 242, 242);
        }

        .comment-respond {
          margin-top: 32px;
        }
      }

      a {
        transition: all 0.3s ease;
        color: #f4b810;
        text-decoration: underline;
  
        &:hover {
          opacity: 0.9;
          text-decoration: none;
        }
      }
    }
  }
}