<!-- wp:group {"className":"...","layout":{"type":"default"}} -->
<div class="wp-block-group ...">
  <!-- Content -->
</div>
<!-- /wp:group -->

<!-- wp:paragraph {"className":"..."} -->
<p class="...">
  <!-- Content -->
</p>
<!-- /wp:paragraph -->

<!-- wp:button {"className":"..."} -->
<div class="wp-block-button ...">
  <a class="wp-block-button__link wp-element-button">
    <!-- Content -->
  </a>
</div>
<!-- /wp:button -->

<!-- wp:embed {"url":"...URL...","type":"video","providerNameSlug":"vimeo","allowResponsive":false,"responsive":true,"className":""} -->
<figure
  class="wp-block-embed is-type-video is-provider-vimeo wp-block-embed-vimeo"
>
  <div class="wp-block-embed__wrapper">...URL...</div>
</figure>
<!-- /wp:embed -->

<!-- wp:query {"queryId":11,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true,"taxQuery":null,"parents":[],"format":[]}} -->
<div class="wp-block-query">
  <!-- wp:post-template -->
  <!-- wp:post-title /-->
  <!-- wp:post-date /-->
  <!-- wp:post-excerpt /-->
  <!-- /wp:post-template -->
  <!-- wp:query-pagination -->
  <!-- wp:query-pagination-previous /-->
  <!-- wp:query-pagination-numbers /-->
  <!-- wp:query-pagination-next /-->
  <!-- /wp:query-pagination -->
  <!-- wp:query-no-results -->
  <!-- wp:paragraph {"placeholder":"Add text or blocks that will display when a query returns no results."} -->
  <p></p>
  <!-- /wp:paragraph -->
  <!-- /wp:query-no-results -->
</div>
<!-- /wp:query -->

<!-- wp:latest-posts {"postsToShow":3,"displayPostContent":true,"excerptLength":20,"displayAuthor":true,"displayPostDate":true} /-->

<!-- wp:query {"queryId":35,"query":{"perPage":3,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":false},"metadata":{"categories":["posts"],"patternName":"core/query-grid-posts","name":"Grid"}} -->
<div class="wp-block-query">
  <!-- wp:post-template { "className": "posts-container", "layout":{"type":"grid","columnCount":3}} -->
  <!-- wp:group {"className":"post","layout":{"inherit":false}} -->
  <div class="wp-block-group post">
    <!-- wp:post-title /-->

    <!-- wp:post-excerpt {"showMoreOnNewLine":false,"excerptLength":15} /-->

    <!-- wp:post-date /-->
  </div>
  <!-- /wp:group -->
  <!-- /wp:post-template -->
</div>
<!-- /wp:query -->
