<!-- wp:group {"tagName":"nav","className":"navbar fixed-top navbar-expand-lg"} -->
<nav class="wp-block-group navbar fixed-top navbar-expand-lg">
  <!-- wp:group {"className":"container-fluid"} -->
  <div class="wp-block-group container-fluid">
    <!-- wp:site-logo /-->
    <!-- wp:html -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbar-container"
      aria-controls="navbar-container"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- /wp:html -->
    <!-- wp:group {"className":"ms-lg-5 collapse navbar-collapse","layout":{"type":"constrained"}} -->
    <div class="wp-block-group ms-lg-5 collapse navbar-collapse" id="navbar-container">
      <!-- wp:navigation {"layout":{"type":"flex","justifyContent":"left"}} /-->
    </div>
    <!-- /wp:group -->
  </div>
  <!-- /wp:group -->
</nav>
<!-- /wp:group -->



<nav class="navbar fixed-top navbar-expand-lg">
  <div class="container-fluid">
    <a href="/tigerlinc">
      <img
        width="100%"
        height="50"
        src="/tigerlinc/files/2025/07/TigerLINCLogo.jpg"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbar-container"
      aria-controls="navbar-container"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="ms-lg-5 collapse navbar-collapse" id="navbar-container">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/tigerlinc">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tigerlinc/blog">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tigerlinc/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tigerlinc/resources">Resources</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group">
  <!-- wp:group {"layout":{"type":"constrained"}} -->
  <div class="wp-block-group">
    <!-- wp:site-logo /-->


<!-- wp:list -->
<ul class="wp-block-list">
  <!-- wp:list-item -->
  <li>
    
  </li>
  <!-- /wp:list-item -->
</ul>
<!-- /wp:list -->


    <!-- wp:navigation-link {"label":"Home","type":"page","id":62,"url":"https://wp.towson.edu/tigerlinc/","kind":"post-type","fontSize":"medium"} /-->

    <!-- wp:navigation-link {"label":"About","type":"page","id":35,"url":"https://wp.towson.edu/tigerlinc/about/","kind":"post-type","fontSize":"medium"} /-->

    <!-- wp:navigation-link {"label":"Blog","type":"page","id":139,"url":"https://wp.towson.edu/tigerlinc/blog","kind":"post-type","fontSize":"medium"} /-->

    <!-- wp:navigation-link {"label":"Resources","type":"page","id":41,"url":"https://wp.towson.edu/tigerlinc/contact/","kind":"post-type","fontSize":"medium"} /-->
  </div>
  <!-- /wp:group -->
</div>
<!-- /wp:group -->
