<!-- wp:query {"queryId":23,"query":{"perPage":3,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":false,"taxQuery":null,"parents":[],"format":[]},"className":"posts-container"} -->
<div class="wp-block-query posts-container">
  <!-- wp:post-template {"className":"posts-container"} -->
  <!-- wp:group {"className":"posts-container-inner"} -->
  <div class="wp-block-group posts-container-inner">
    <!-- wp:post-featured-image /-->
    <!-- wp:group {"className":"card-middle"} -->
    <div class="wp-block-group card-middle">
      <!-- wp:post-title /-->
      <!-- wp:post-date /-->
      <!-- wp:post-excerpt {"excerptLength":15} /-->
    </div>
    <!-- /wp:group -->
    <!-- wp:group {"className":"card-bottom"} -->
    <div class="wp-block-group card-bottom"><!-- wp:read-more /--></div>
    <!-- /wp:group -->
  </div>
  <!-- /wp:group -->
  <!-- /wp:post-template -->
</div>
<!-- /wp:query -->
