<!-- wp:query {"queryId":23,"query":{"perPage":3,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":false,"taxQuery":null,"parents":[],"format":[]}} -->
<div class="wp-block-query">
  <!-- wp:post-template {"className":"row row-cols-1 row-cols-md-2 g-4"} -->
  <!-- wp:group {"className":"card","layout":{"type":"default"}} -->
  <div class="wp-block-group card">
    <!-- wp:post-featured-image {"className":"card-img-top"} /-->

    <!-- wp:group {"className":"card-body","layout":{"type":"default"}} -->
    <div class="wp-block-group card-body">
      <!-- wp:post-title {"className":"card-title"} /-->

      <!-- wp:post-date {"className":"card-subtitle mb-2 text-body-secondary"} /-->

      <!-- wp:post-excerpt {"excerptLength":15,"className":"card-text"} /-->

      <!-- wp:read-more {"className":"card-link"} /-->
    </div>
    <!-- /wp:group -->
  </div>
  <!-- /wp:group -->
  <!-- /wp:post-template -->
</div>
<!-- /wp:query -->

<!-- RENDERS: -->

<div
  class="entry-content wp-block-post-content is-layout-constrained wp-block-post-content-is-layout-constrained"
>
  <div
    class="wp-block-query row row-cols-1 row-cols-md-2 g-4 is-layout-flow wp-block-query-is-layout-flow"
  >
    <ul
      class="row row-cols-1 row-cols-md-2 g-4 wp-block-post-template is-layout-flow wp-block-post-template-is-layout-flow"
    >
      <li
        class="wp-block-post post-298 post type-post status-publish format-standard hentry category-uncategorized"
      >
        <div
          class="wp-block-group card is-layout-flow wp-block-group-is-layout-flow"
        >
          <div
            class="wp-block-group card-body is-layout-flow wp-block-group-is-layout-flow"
          >
            <h2 class="card-title wp-block-post-title">River Test 2</h2>

            <div
              class="card-subtitle mb-2 text-body-secondary wp-block-post-date"
            >
              <time datetime="2025-08-04T22:34:00-05:00">August 4, 2025</time>
            </div>

            <div class="card-text wp-block-post-excerpt">
              <p class="wp-block-post-excerpt__excerpt">
                This is some text that will appear on the main page I think. We
                will…
              </p>
            </div>

            <a
              class="card-link wp-block-read-more"
              href="https://wp.towson.edu/tigerlinc/2025/08/04/river-test-2/"
              >Read more<span class="screen-reader-text"
                >: River Test 2</span
              ></a
            >
          </div>
        </div>
      </li>
      <li
        class="wp-block-post post-295 post type-post status-publish format-standard hentry category-uncategorized"
      >
        <div
          class="wp-block-group card is-layout-flow wp-block-group-is-layout-flow"
        >
          <div
            class="wp-block-group card-body is-layout-flow wp-block-group-is-layout-flow"
          >
            <h2 class="card-title wp-block-post-title">River Test 1</h2>

            <div
              class="card-subtitle mb-2 text-body-secondary wp-block-post-date"
            >
              <time datetime="2025-08-04T22:33:32-05:00">August 4, 2025</time>
            </div>

            <div class="card-text wp-block-post-excerpt">
              <p class="wp-block-post-excerpt__excerpt">
                This is some text that will appear on the main page I think. We
                will…
              </p>
            </div>

            <a
              class="card-link wp-block-read-more"
              href="https://wp.towson.edu/tigerlinc/2025/08/04/river-test-1/"
              >Read more<span class="screen-reader-text"
                >: River Test 1</span
              ></a
            >
          </div>
        </div>
      </li>
      <li
        class="wp-block-post post-252 post type-post status-publish format-standard has-post-thumbnail hentry category-blog-posts"
      >
        <div
          class="wp-block-group card is-layout-flow wp-block-group-is-layout-flow"
        >
          <figure class="card-img-top wp-block-post-featured-image">
            <img
              fetchpriority="high"
              decoding="async"
              width="1395"
              height="333"
              src="https://wp.towson.edu/tigerlinc/files/2025/07/TU-Student-Educators-and-Tiger-LINC-Program-Developers-and-Supervisors-Hero.jpeg"
              class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
              alt=""
              style="object-fit: cover"
              srcset="
                https://wp.towson.edu/tigerlinc/files/2025/07/TU-Student-Educators-and-Tiger-LINC-Program-Developers-and-Supervisors-Hero.jpeg          1395w,
                https://wp.towson.edu/tigerlinc/files/2025/07/TU-Student-Educators-and-Tiger-LINC-Program-Developers-and-Supervisors-Hero-300x72.jpeg    300w,
                https://wp.towson.edu/tigerlinc/files/2025/07/TU-Student-Educators-and-Tiger-LINC-Program-Developers-and-Supervisors-Hero-1024x244.jpeg 1024w,
                https://wp.towson.edu/tigerlinc/files/2025/07/TU-Student-Educators-and-Tiger-LINC-Program-Developers-and-Supervisors-Hero-768x183.jpeg   768w
              "
              sizes="(max-width: 1395px) 100vw, 1395px"
            />
          </figure>

          <div
            class="wp-block-group card-body is-layout-flow wp-block-group-is-layout-flow"
          >
            <h2 class="card-title wp-block-post-title">
              Cultivating Resilience, Building Connection: How One Club is
              Shaping the Future of Education
            </h2>

            <div
              class="card-subtitle mb-2 text-body-secondary wp-block-post-date"
            >
              <time datetime="2025-07-20T14:45:30-05:00">July 20, 2025</time>
            </div>

            <div class="card-text wp-block-post-excerpt">
              <p class="wp-block-post-excerpt__excerpt">
                At Towson University’s College of Education, future educators
                are learning that being an effective teacher…
              </p>
            </div>

            <a
              class="card-link wp-block-read-more"
              href="https://wp.towson.edu/tigerlinc/2025/07/20/cultivating-resilience-building-connection-how-one-club-is-shaping-the-future-of-education/"
              >Read more<span class="screen-reader-text"
                >: Cultivating Resilience, Building Connection: How One Club is
                Shaping the Future of Education</span
              ></a
            >
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
